body {
  color: #fff;
  background: url("brgy");
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-control {
  font-size: 15px;
}
.form-control,
.form-control:focus,
.input-group-text {
  border-color: #e1e1e1;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 460px;
  margin: 0;
  margin-left: 15in;
}
.signup-form form {
  color: #999;
  margin-bottom: 15px;
  background: rgb(20, 20, 20);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 2px rgba(216, 200, 200, 0.3);
  padding: 30px;
  height: 980px;
}
.signup-form h2 {
  color: #333;
  font-weight: bold;
}
.signup-form hr {
  margin: 0 -30px 20px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 15px;
}
.signup-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
}
.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
}
.signup-form .btn,
.signup-form .btn:active {
  font-size: 16px;
  font-weight: bold;
  background: #404240 !important;
  border-radius: 5px;
  border-color: #404240;
  min-width: 300px;
}
.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #ffdbac !important;
}
.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #ffdbac;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}
.signup-form .fa {
  font-size: 21px;
}
.signup-form .fa-paper-plane {
  font-size: 18px;
}
.signup-form .fa-check {
  color: #fff;
  left: 17px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}
.margintop {
  margin-top: 2.5cm;
}
.centertext {
  text-align: center;
}
.margintop1 {
  margin-top: 0.4cm;
}
.head {
  font-size: 25px;
  font-family: sans-serif;
  color: #ffdbac;
  font-weight: 700;
}
.cover {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -100vw;
  z-index: 1000;
}
.transition.slide .cover1 {
  background-color: #ffdbac;
  animation: slide 0.3s ease-in-out forwards;
}
.transition.slide .cover2 {
  background-color: #aaaaaa;
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
.transition.slide .cover3 {
  background-color: aliceblue;
  animation: slide 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
@keyframes slide {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
