* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-image: url("/assets/img/gray.jpg");
}
.container {
  position: absolute;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #242e42;
  transition: 0.5s;
  overflow: hidden;
  float: left;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover {
  background: #1d2636;
}
.navigation ul li:nth-child(1) {
  margin-bottom: 20px;
}
.navigation ul li:nth-child(1)hover {
  background: transparent;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .fa {
  color: #fff;
  font-size: 24px;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.photo {
  padding-top: 10px;
  padding-left: 45px;
  width: 200px;
  height: 200px;
}
.photo2 {
  padding-top: 10px;
  padding-left: 45px;
  width: 245px;
  height: 210px;
}
.content {
  margin-left: 300px;
  padding-left: 20px;
  padding-top: 30px;
  background-color: #1d2636;
  font-family: sans-serif;
}
h1 {
  font-size: 50px;
  margin-left: 300px;
  padding-left: 20px;
  padding-top: 10px;
}
h2 {
  font-family: sans-serif;
}
.welcome {
  font-size: 32px;
  margin-left: 9cm;
  margin-top: 0.2cm;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.image {
  margin: 0.2cm;
  float: left;
}
.address {
  margin-left: 9cm;
  margin-bottom: 0.2cm;
  font-style: oblique;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.address1 {
  margin: 0.5cm;
}
.box {
  background-color: white;
  position: absolute;
  height: 5cm;
  width: 17cm;
  left: 13.2in;
  top: 2cm;
  border-radius: 5px;
}
.box1 {
  background-color: white;
  position: absolute;
  height: 5cm;
  width: 17cm;
  left: 13.2in;
  top: 7.2cm;
  border-radius: 5px;
}

.box3 {
  background-color: white;
  position: absolute;
  height: 5cm;
  width: 8.4cm;
  left: 13.2in;
  top: 12.4cm;
  border-radius: 5px;
}
.box4 {
  background-color: white;
  position: absolute;
  height: 7cm;
  width: 17cm;
  left: 13.2in;
  top: 18cm;
  border-radius: 5px;
}
.box5 {
  background-color: white;
  position: absolute;
  height: 20.5cm;
  width: 24.7cm;
  left: 3.3in;
  top: 4.5cm;
  border-radius: 5px;
}
.cr {
  background-color: rgb(73, 73, 71);
  font-size: 28px;
}
.texttitle {
  font-size: 22px;
  color: #000000;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0.2cm;
}
.prq {
  height: auto;
  width: auto;
}
.restitle {
  font-size: 28px;
  font-family: sans-serif;
  margin-left: 9cm;
  margin-top: 0.5cm;
  font-weight: bold;
  float: left;
}

.topnav {
  overflow: hidden;
  width: 50cm;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196f3;
  color: white;
}

.topnav input[type="text"] {
  float: left;
  padding: 6px;
  margin-top: -20px;
  margin-right: 29cm;
  border-color: #1d2636;
  border-radius: 5px;
  width: 12cm;
  font-size: 17px;
}
.buttonnew {
  float: left;
  margin-right: 10cm;
  height: 7cm;
  font-size: 17px;
  padding: 6px;
  font-family: sans-serif;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  border-color: #1d2636;
  text-decoration: none;
  position: relative;
  z-index: -1;
}
table {
  border-collapse: collapse;
  width: 38cm;
  margin: 17px;
  color: #545658;
  font-family: monospace;
  font-size: 18px;
  margin-top: 0.7in;
}
th {
  color: #4e4c4c;
  position: flex;
  text-align: flex start;
  justify-content: center;
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
  color: #2196f3;
  font-family: sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 5in;
  height: 5in;
  border-radius: 10px;
  background-color: #677189;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
label {
  font-size: 15px;
  font-family: sans-serif;
  margin-top: 15px;
  font-weight: bold;
  color: #fff8f8;
}
.fill {
  width: 50%;
  height: 0.7cm;
  border-radius: 5px;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 7px;
  border-color: gray;
}
.modalbutton {
  background-color: #2196f3;
  border-style: solid;
  border-color: #2196f3;
  height: 1cm;
  width: 2cm;
  border-radius: 5px;
  margin-top: 10px;
}
.hr {
  width: 100%;
  margin: 2px;
  background-color: #ddd;
  margin-left: 20px;
  width: 100%;
  height: 5px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
.boxinfo {
  background-color: lightgrey;
  width: 38cm;
  border: 15px solid rgb(72, 73, 72);
  padding: 50px;
  margin: 10px;
  margin-left: -10px;
  text-align: center;
}
.navigation2 {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #242e42;
  transition: 0.5s;
  overflow: hidden;
  float: left;
  margin-left: -15px;
}
.navigation2 ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation2 ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation2 ul li:hover {
  background: #1d2636;
}
.navigation2 ul li:nth-child(1) {
  margin-bottom: 20px;
}
.navigation2 ul li:nth-child(1)hover {
  background: transparent;
}
.navigation2 ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation2 ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation2 ul li a .icon .fa {
  color: #fff;
  font-size: 24px;
}
.navigation2 ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}
.delete {
  height: 1cm;
  width: 4cm;
  float: left;
  margin-left: 5in;
  border-radius: 5px;
}
